body{
    background-image: url("./assets/backgroundImage.jpeg");
    text-align: center;
    background-color: grey;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size: 55px;
    color: rgb(146,252,163);
    margin-top: 35px;
    text-align: center;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(152,106,147);
    z-index: 200;
    color: rgb(146,252,163);
    text-align: center;
    line-height: 90vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(152,106,147);
    z-index: -10;
    color: rgb(146,252,163);
    text-align: center;
    line-height: 90vh;
    transition: all 1s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}

